<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobLynk - Login</title>
    <link rel="stylesheet" href="/JobLynk/Group7/styles/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">Job<span class="highlight">Lynk</span></div>
      <nav>
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <main>
      <h1 class="title">Job<span class="highlight">Lynk</span></h1>
      <p class="subtitle">Welcome back!!</p>

      <form action="#">
        <input type="email" placeholder="E-mail" required />
        <input type="password" placeholder="Password" required />

        <div class="actions">
          <button type="submit" class="btn">Login</button>
          <a href="change-password.html" class="link">Forgot Password</a>
          <a href="#" class="link small-right">Register</a>
        </div>
      </form>
    </main>
  </body>
</html>
