/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2563eb;
  --black-blue: #1f2937;
  --green: #84cc16;
  --first-background: #dae4fc;
  --second-background: #f3f4f6;
}

body {
  color: var(--black-blue);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: var(--black-blue);
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

body::selection {
  color: var(--second-background);
  background: var(--black-blue);
}

/* Head and Hero Section Styles */
.head-and-hero {
  background: var(--first-background);
  padding: 5% 0;
}

/*i connected the head and hero together so that there won't be a position conflict*/

/* Header Styles */
header {
  position: fixed;
  top: 0.5%;
  width: 80%;
  height: 10%;
  margin-left: 10%;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5vh;
  border-radius: 50px;
  z-index: 5;
  background: var(--first-background);
  box-shadow: 0 0 3px var(--black-blue);
}

.title {
  color: var(--blue);
  font-size: 130%;
}

nav {
  display: flex;
  column-gap: 30px;
  font-size: 100%;
  font-weight: 600;
}


.login-btn {
  opacity: 0;
}

/* Hero Styles */

.joblynk-hero {
  width: 90%;
  margin: 18vh auto 0 auto;
  text-align: center;
  letter-spacing: -2px;
  font-size: 200%;
  color: var(--black-blue);
}

.hero-explanations {
  width: 60%;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  font-size: 90%;
}

.hero-btns {
  display: flex;
  justify-content: center;
  column-gap: 3vw;
  margin-top: 5vh;
}

.employer-btn,
.freelancer-btn {
  border-radius: 50px;
  padding: 2% 4%;
  font-size: 100%;
  border: none;
}

.employer-btn {
  background: var(--green);
}

.employer-btn>a {
  color: var(--black-blue);
  font-weight: 500;
}

.freelancer-btn {
  background: var(--black-blue);
}

.freelancer-btn>a {
  color: #ffffff;
  font-weight: 500;
}

/* About Styles */
.about {
  padding: 8% 8%;
  font-size: 90%;
  text-align: justify;
  background: var(--second-background);
}

.about-heading {
  color: var(--blue);
  font-size: 220%;
  text-align: center;
}

.about-body {
  padding: 4% 0 8% 0;
}

.offers-heading {
  text-align: center;
}

.offers-list {
  padding: 4% 0 4% 5%;
}

/* Footer Section Styles */

footer {
  background: var(--black-blue);
  color: var(--second-background);
  font-size: 90%;
  padding: 3px 0 30px 0;
  /* display: flex;
  justify-content: center;
  column-gap: 20px; */
  text-align: center;
}

footer h1 {
  padding: 30px 0;
  text-align: center;
}

footer p {
  padding-bottom: 7px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

footer button {
  color: white;
  padding: 7px 0;
  font-size: 90%;
  width: 20%;
  border: none;
  border-radius: 30px;
  background: var(--green);
  box-shadow: 0 0 7px var(--green);
}

.contact-label-and-input {
  width: 50%;
  margin: auto;
  text-align: left;
}

#name,
#email,
#message {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 100%;
  color: white;
  border-bottom: 2px solid white;
}


/* LAPTOP VIEW */
@media screen and (min-width: 1000px) {

  /* Head and Hero Section Styles */
  .head-and-hero {
    background: var(--first-background);
    padding: 3% 0;
  }

  /*i connected the head and hero together so that there won't be a position conflict*/

  /* Header Styles */
  header {
    position: fixed;
    top: 0.5%;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    z-index: 5;
    background: var(--first-background);
    box-shadow: 0 0 3px var(--black-blue);
  }

  .title {
    color: var(--blue);
  }

  nav {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    font-size: 100%;
    font-weight: bold;
    margin-top: 5px;
  }


  .login-btn {
    opacity: 1;
    background: var(--green);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--green);
    font-size: 95%;
    padding: 0.5% 1.5%;
    transition: background 0.1s linear;
  }

  .login-btn:hover {
    background: #78bb15;
    transition: background 0.1s linear;
  }

  .login-btn>a {
    color: #ffffff;
    font-weight: 500;
  }

  /* Hero Styles */

  .joblynk-hero {
    margin-top: 15vh;
    text-align: center;
    font-size: 250%;
    animation-name: hero;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }


  @keyframes hero {
    0% {
      color: var(--first-background);
    }

    50% {
      color: var(--black-blue);
    }

    90% {
      color: var(--black-blue);
    }

    100% {
      color: var(--first-background);
    }
  }

  .hero-explanations {
    width: 60vw;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    font-size: 100%;
  }

  .hero-btns {
    display: flex;
    justify-content: center;
    column-gap: 3vw;
    margin-top: 5vh;
  }

  .employer-btn,
  .freelancer-btn {
    border-radius: 50px;
    padding: 1% 2.7%;
    font-size: 110%;
    border: none;
  }

  .employer-btn {
    background: var(--green);
  }

  .employer-btn:hover {
    background: #78bb15;
    transition: background 0.1s linear;
  }

  .employer-btn>a {
    color: var(--black-blue);
    font-weight: bold;
  }

  .freelancer-btn {
    background: var(--black-blue);
    transition: background 0.1s linear;
  }

  .freelancer-btn:hover {
    background: #10141b;
    transition: background 0.1s linear;
  }

  .freelancer-btn>a {
    color: #ffffff;
    font-weight: bold;
  }

  /* About Styles */
  .about {
    padding: 4% 8% 6% 8%;
    font-size: 110%;
    text-align: justify;
    background: var(--second-background);
  }

  .about-heading {
    color: var(--blue);
    font-size: 230%;
    padding-left: 0.4%;
    text-align: center;
  }

  .about-body {
    padding: 4vh 0 8vh 0;
  }

  .offers-heading {
    text-align: center;
  }

  .offers-list {
    padding: 8vh 0 4vh 2vw;
  }


  /* Footer Section Styles */

  footer {
    background: var(--black-blue);
    color: var(--second-background);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    column-gap: 20vw;
    text-align: center;
  }

  footer h1 {
    padding-bottom: 25px;
    text-align: center;
  }

  footer p {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }

  footer button {
    color: white;
    padding: 7px 0;
    font-size: 100%;
    width: 50%;
    border: none;
    border-radius: 30px;
    background: var(--green);
    box-shadow: 0 0 7px var(--green);
    transition: background 0.1s linear;
  }

  footer button:hover {
    background: #78bb15;
    transition: background 0.1s linear;
  }

  .contact-label-and-input {
    width: 100%;
  }

  #name,
  #email,
  #message {
    background: none;
    outline: none;
    border: none;
    font-size: 100%;
    color: white;
    border-bottom: 2px solid white;
  }
}