<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobLynk - Change Password</title>
    <link rel="stylesheet" href="/static/css/login-and-change-password.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h2 class="logo">JobLynk</h2>
      <nav>
        <a href="/index.html">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <main>
      <h1 class="title">JobLynk</h1>
      <p class="subtitle">Change Forgotten Password...</p>

      <form action="#">
        <input type="email" placeholder="E-mail" required />
        <input type="password" placeholder="New Password" required />
        <input type="password" placeholder="Confirm Password" required />

        <div class="actions">
          <button type="submit" class="btn">Change</button>
          <a href="./login.html" class="link">Login</a>
        </div>
      </form>
    </main>
  </body>
</html>
