<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joblynk - Register (Employer)</title>
    <link rel="stylesheet" href="/static/css/employers-register.css" />
  </head>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <h2 class="title">JobLynk</h2>
      <div class="links">
        <a href="/index.html">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </div>
    </header>

    <!-- Form Section -->
    <div class="form-container">
      <h1 class="form-header">JobLynk</h1>
      <p class="form-subheader">Create an account now!!</p>
      <input type="text" placeholder="Full-Name" required /><br />
      <input type="text" placeholder="Company" required /><br />
      <input type="email" placeholder="Email" required /><br />
      <input type="date" placeholder="Date Of Birth" required /><br />
      <input type="password" placeholder="Password" required /><br />
      <!-- Button container -->
      <div class="btn-container">
        <button type="submit" class="register-btn">Register</button>
        <span class="login"
          >Already have an account?
          <a href="./login.html" class="login-btn">Login</a></span
        >
      </div>
    </div>
  </body>
</html>
