<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joblynk - Register (Employer)</title>
    <link rel="stylesheet" href="/static/css/employers-register.css" />
  </head>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <h2 class="title">JobLynk</h2>
      <div class="links">
        <a href="{{ url_for('routes.index') }}">Home</a>
        <a href="{{ url_for('routes.index') }}#about">About Us</a>
        <a href="{{ url_for('routes.index') }}#contact">Contact</a>
      </div>
    </header>

    <!-- Form Section -->
    <div class="form-container">
      <h1 class="form-header">JobLynk</h1>
      <p class="form-subheader">Create an account now!!</p>
      <form action="{{ url_for('routes.employers_register') }}" method="post">
        <input type="text" placeholder="Full-Name" name="name" required /><br />
        <input type="text" placeholder="Company" name="company_name" required /><br />
        <input type="email" placeholder="Email" name="email" required /><br />
        <input type="date" placeholder="Date Of Birth" name="date_of_birth" required /><br />
        <input type="password" placeholder="Password" name="password" required /><br />
        <!-- Button container -->
        <div class="btn-container">
          <button type="submit" class="register-btn">Register</button>
          <span class="login"
            >Already have an account?
            <a href="{{ url_for('routes.login') }}" class="login-btn">Login</a></span
          >
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash-messages">
            {% for message in messages %}
              <p class="flash-message">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>