<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobLynk - Change Password</title>
    <link
      rel="stylesheet"
      href="/app/static/css/login-and-change-password.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">Job<span class="highlight">Lynk</span></div>
      <nav>
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <main>
      <h1 class="title">Job<span class="highlight">Lynk</span></h1>
      <p class="subtitle">Change Forgotten Password...</p>

      <form action="#">
        <input type="email" placeholder="E-mail" required />
        <input type="password" placeholder="New Password" required />
        <input type="password" placeholder="Confirm Password" required />

        <div class="actions">
          <button type="submit" class="btn">Change</button>
          <a href="login.html" class="link">Login</a>
        </div>
      </form>
    </main>
  </body>
</html>
