<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobLynk - Register (Freelancer)</title>
    <link rel="stylesheet" href="/app/static/css/freelancers-register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">JobLynk</div>
      <nav>
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <main>
      <div class="form-container">
        <h1>JobLynk</h1>
        <p>Create an account now!!</p>
        <form>
          <input type="text" placeholder="Full Name" required />
          <input type="email" placeholder="E-mail" required />
          <input type="text" placeholder="Skills" required />
          <input type="date" placeholder="Date Of Birth" required />
          <input type="password" placeholder="Password" required />
          <div class="form-footer">
            <button type="submit">Register</button>
            <p>Already Have An Account? <a href="#">Login</a></p>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
