<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobLynk - Landing Page</title>
    <link rel="stylesheet" href="/app/static/css/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <h2 class="title">JobLynk</h2>
      <div class="links">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </div>
      <button class="get-started-btn"><a href="#">Get Started</a></button>
    </header>

    <!-- Hero Section -->
    <h1 class="joblynk-hero">Connecting You to the <br />Right Opportunity.</h1>

    <p class="hero-explanations">
      Explore thousands of jobs, connect with top employers, and the take the
      next step in your carreer. JobLynk makes it easy to find roles that
      matches your goals – and apply with confidence.
    </p>

    <div class="hero-btns">
      <button class="employer-btn"><a href="#">Employer</a></button>
      <button class="freelancer-btn"><a href="#">Freelancer</a></button>
    </div>

    <!-- About Section -->
    <article>
      <h1 class="about-heading">About Us</h1>
      <p class="about-body">
        JobLynk is a job board website created by Group 7. Designed to bridge
        the gap between job seekers and employers, JobLynk offers a simple and
        effective way for users to find, apply for, and post job opportunities
        across various fields. <br />
        <br />
        Our platform was built with real-world functionality in mind – aiming to
        help users quickly connect to opportunities that match their skills,
        goals, and career paths.
      </p>
      <h1>What JobLynk Offers:</h1>
      <ul class="offers-list">
        <li>A user-friendly interface for browsing and applying to jobs.</li>
        <li>
          A platform for emloyers to post openings and find qualitief
          candidates.
        </li>
        <li>
          Fast, organized access to opportunities – from internships to
          full-time roles.
        </li>
        <li>Easy filtering by role, location, and category.</li>
      </ul>
      <p class="about-conclusion">
        The project reflects our shared interest in technology, teamwork, and
        solving real problems through digital solutions. We hope JobLynk
        provides a glimpse of what's possible when innovation meets purpose.
      </p>
    </article>
  </body>
</html>
